@font-face {
  font-family: "iconfont"; /* Project id 2983728 */
  src: url('iconfont.woff2?t=1638443804052') format('woff2'),
       url('iconfont.woff?t=1638443804052') format('woff'),
       url('iconfont.ttf?t=1638443804052') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-shoppingCart:before {
  content: "\e899";
}

.icon-home:before {
  content: "\e622";
}

.icon-category:before {
  content: "\e623";
}

.icon-profile:before {
  content: "\e624";
}

